.Calender {
  display: flex;
  justify-content: space-around;
  width: 200px;
  border-radius: 45%;
  cursor: pointer;
}

.StatusFilter {
  width: 20%;
  display: flex;
  margin-right: 1%;
}

#statusselect {
  width: 150%;
}

#calenderIcon {
  margin-top: 10%;
}

#launchIcon {
  margin-top: 13%;
}

#statusIcon {
  margin-top: 6%;
}

#name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-top: 10%;
  margin-left: 2%;
  color: gray;
}
