.Calender {
  display: flex;
  width: 350px;
  cursor: pointer;
}

.StatusFilter {
  width: 20%;
  display: flex;
  margin-right: 1%;
}

#statusselect {
  width: 150%;
}

#calenderIcon {
  margin-top: 20px;
}

#launchIcon {
  margin-top: 13%;
}

#statusIcon {
  margin-top: 6%;
}

#name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 20px;
  color:  black;
}
