#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */
  border-bottom: 2px solid #A7A9AC;
  background: white;
  z-index: 10;
  
}
#first {
  font-size: 50px;
  font-family: 'initial';
  color: #005288;
  font-weight: 600;
}

#last {
  font-size: 50px;
  font-family: 'cursive';
  color:  #A7A9AC;
}
.inner {

}