#header {
  display: flex;
  justify-content: center;
}
#logo-container {
  margin-bottom: 4%;
}
.spacelogo {
  position: absolute;
  background: url("https://upload.wikimedia.org/wikipedia/commons/d/de/SpaceX-Logo.svg")
    no-repeat;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 50px;
}

#spacelogos {
  left: 35%;
}

#spacelogop {
  left: 38%;
  background-position: -47px 0px;
}

#spacelogoa {
  left: 41%;
  background-position: -85px 0px;
}

#spacelogoc {
  left: 44%;
  background-position: -132px 0px;
}

#spacelogoe {
  left: 47%;
  background-position: -178px 0px;
}

#spacelogox {
  width: 60px;
  left: 50%;
  background-position: -222px 0px;
}
hr {
  background-position: -222px 0px;
}
