.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(191, 191, 191, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 40%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
}

.closeIcon {
  cursor: pointer;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.MissionStatus {
  display: flex;
  margin-left: 3%;
  justify-items: left;
  width: 50%;
}

.CloseButton {
  margin-top: 2%;
  margin-right: 2%;
}

.Mission_Name {
  font-size: 20px;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1%;
}

.Rocket_Name {
  display: flex;
  justify-content: left;

  font-size: 12px;
  color: #595959;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 4%;
  height: 15px;
  width: 20%;
}

.Status,
.Mission_Name {
  margin-top: 10%;
}
.Links {
  display: flex;
  justify-items: flex-start;
  justify-content: space-evenly;
  width: 13%;
  font-size: 19px;
  font-size: 19px;
  color: #595959;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 3%;
  margin-top: 2%;
}
button {
  cursor: pointer;
  border: none;
  color: black;
  background-color: white;
  font-family: cursive;
}
.Description {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: initial;
  font-size: 12px;
}
a:link {
  color: #33ccff;
}
a:visited {
  color: #33ccff;
}

.DataPayload {
  display: flex;
  justify-content: left;
  justify-items: stretch;
  margin-left: 4%;
  width: 50%;
  font-size: 12px;
}
hr {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 4%;
  margin-right: 4%;
}
.Value {
  padding-left: 20%;
}
.DataPayload > .RocketTypeValue {
  padding-left: 24%;
  font-size: 12px;
}
.DataPayload > .RocketNameValue {
  padding-left: 21%;
  font-size: 12px;
}
.DataPayload > .ManufacturerValue {
  padding-left: 21%;
  font-size: 12px;
}
.DataPayload > .NationalityValue {
  padding-left: 26%;
  font-size: 12px;
}
.DataPayload > .LaunchDateValue {
  padding-left: 23%;
  font-size: 12px;
}
.DataPayload > .PayloadValue {
  padding-left: 22%;
  font-size: 12px;
}
.DataPayload > .OrbitValue {
  padding-left: 37%;
  font-size: 12px;
}
.DataPayload > .LaunchSiteValue {
  padding-left: 25%;
  font-size: 12px;
}
