td {
  text-align: center;
  padding: 0.7%;
  background-color: white;
  cursor: pointer;
}

#location,
#mission {
  text-align: left;
  width: 50px;
}

#EmptyData {
  text-align: center;
  color: Red;
}
